body {
    background-color: black;
}

.black {
    background-color: black;
}

h1 {
        color: white;
        text-align: center;
 }

h2 {
        color: white;
        text-align: center;
 }
      
 div.gallery {
    margin: 5px;
    border: 1px solid #faf7f7;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #fffbfb;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  .footer h1 {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
  }